@import config

/** COMMON **/

.section-inner
  max-width: 1170px
  padding: 0 15px
  margin: 0 auto

.title
  font-size: 38px
  font-family: $montserrat
  font-weight: bold
  text-align: center
  text-transform: uppercase
  color: $title
  padding-top: 124px

.subtitle
  font-size: 18px
  font-family: $merriweather
  font-weight: normal
  text-align: center
  text-transform: uppercase
  color: $subtitle

.section-works__box-img.slick-slide.slick-current.slick-active
  display: flex
  justify-content: center

.section-works__box-img.slick-slide.slick-cloned, .slick-active
  border: none
  outline: none

.slick-prev:before, .slick-next:before
  color: black !important

.slick-prev, .slick-next
  background-color: 

/** /COMMON **/

@import _header
@import _about
@import _works
@import _team
@import _adress
@import _footer

@import _media